.summary {
    border-left: 5px solid green !important;
    box-shadow: 0 0 2px gray;
    padding: 10px 15px;
    border-radius: 10px;

    .total {
        font-size: 2rem;
    }

    p {
        margin: 0;
    }
}
