.required {
    color: red;
}

.back {
    position: absolute;
    top: 4%;
    left: 10%;
    cursor: pointer;
    font-size: 1.3rem;

    @media (min-width: 576px) {
        top: 10%;
    }
}

td {
    vertical-align: middle;
}

.person-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px gray;
}

.user-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px gray;
    margin-top: -5px;
}

.vh-75 {
    min-height: 75vh;
}
