.sidebar {
    max-width: 15rem;
    min-width: 15rem;
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin-left 0.2s ease-out;

    .navbar-brand img {
        width: 250px;
    }

    .nav-link {
        border-radius: 10px;
    }

    .nav-link:hover::after {
        transform: scale(0);
    }

    .nav-link:hover {
        background-color: green;
    }
    .nav-link.active {
        background-color: green;
    }
}

.wrapper {
    width: 100%;
    min-width: 100%;

    @media (min-width: 576px) {
        min-width: 0;
    }
}

.toggled {
    margin-left: 0;
}
